/* TODO: Make it awesome */
header {
  background-color: grey;
  width: 100%;
  height: 70px;
}

header h1 {
  float: left;
  padding: 15px 15px;
  font-size: 40px;
  border-color: black;
}

nav {
  float: right;
  text-align: center;
  padding: 15px 15px;
  color: darkgreen;
}


nav li {
  display: inline-block;
  font-size: 40px;
}
nav li a {
  text-decoration: none;
  margin-right: 10px;
  color: black;
}

nav li a:hover {
  background-color: black;
  color: grey;
}

.card header h1 {
  background-color: white;
  height: 40px;
  font-size: 40px;
}

main section div header h1 {
  clear: both;
  background-color: none;
  float: none;
  padding: 15px 15px;
  font-size: 20px;
  margin-bottom: 50px;
}

ol {
  margin-bottom: 20px;
  padding: 0px 15px;
}


th, td {
    padding: 15px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr {
  transform-origin: top;
}

tr:hover {
  background-color: #f5f5f5;
}
table {
  margin-bottom: 10px;
}
.copy {
  clear: both;
}

fieldset {
  margin-bottom: 10px;
  padding: 0px 15px;
}

fieldset legend {
  margin-bottom: 10px;
}

footer {
  padding: 0px 15px;
}

img {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#itemCount {
  font-size: 25px;
}

#cartContents ol {
  font-size: 30px;
}
